@using MultifunctionalChat.Models;
@using MultifunctionalChat;

<h3>Доступные комнаты</h3>
@foreach (Room chatRoom in ViewBag.chatRooms)
{
    <a href="/Room/Index?Id=@chatRoom.Id">
        <h3 title="id = @chatRoom.Id">
            @chatRoom.Name
            @if (chatRoom.Type == 'B')
            {
                <span style="color:red" title="Чат с YouTube-ботом">&nbsp;(Бот)</span>
            }
            @if (chatRoom.Type == 'C')
            {
                <span style="color:red" title="Приватная комната">&nbsp;(Приват)</span>
            }
        </h3>
    </a>
}

@if (@ViewBag.currentUser.RoleId.ToString() == StaticVars.ROLE_ADMIN || 
    @ViewBag.currentUser.RoleId.ToString() == StaticVars.ROLE_MODERATOR)
{
    <br />
    <div>
        <input style="width:80%" type="button" onClick='location.href="/Room/AllRooms"' value="Список всех комнат" />
    </div>
}