@using MultifunctionalChat.Models;

<h3>Список пользователей комнаты</h3>
<br />
@foreach (var roomUser in ViewBag.roomUsers)
{
    <h4>
        @roomUser.User.Name
        @if (roomUser.Status != null)
        {
        <span>&nbsp;(@roomUser.Status)</span>
        }
    </h4>
}
