<head>
    <meta charset="utf-8" />
    <title>Лучший чат от сильнейшей команды мира</title>
</head>

@if (User.Identity.IsAuthenticated)
{
    <a href="~/Account/Logout">Выйти</a>
}
else
{
    <a href="~/Account/Login">Войти</a>
}

<div id="userNameBlock">

    <input id="userName" type="text" value="@User.Identity.Name" hidden=""/>
</div>
<br />

<div id="header"></div>
<br />

<div id="inputForm">
    <input type="text" id="message" />
    <input type="button" id="sendBtn" value="Отправить" />
</div>

<div id="chatroom"></div>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/chat")
        .build();

    let userName = '';
    // получение сообщения от сервера
    hubConnection.on('Send', function (message, userName) {

        // создаем элемент <b> для имени пользователя
        let userNameElem = document.createElement("b");
        userNameElem.appendChild(document.createTextNode(userName + ': '));

        // создает элемент для времени сообщения
        let now = new Date();
        userNameElem.appendChild(document.createTextNode(
            now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds()));

        // создает элемент <p> для сообщения пользователя
        let textElem = document.createElement("p");
        textElem.appendChild(document.createTextNode(message));

        let elem = document.createElement("p");
        elem.appendChild(userNameElem);
        elem.appendChild(textElem);

        var firstElem = document.getElementById("chatroom").firstChild;
        document.getElementById("chatroom").insertBefore(elem, firstElem);

    });

    // установка имени пользователя
    userName = document.getElementById("userName").value;
    if (userName != "") {
        document.getElementById("header").innerHTML = '<h3>Welcome ' + userName + '</h3>';
    }
    // отправка сообщения на сервер
    document.getElementById("sendBtn").addEventListener("click", function (e) {
        let message = document.getElementById("message").value;
        hubConnection.invoke("Send", message, userName);


        const data = new FormData();
        data.append("text", message);
        data.append("userId", "0");
        data.append("userName", userName);
        data.append("MessageDate", new Date());
        var xhr = new XMLHttpRequest();

        xhr.open("post", "/message", true);
        xhr.send(data);
    });

    hubConnection.start();
</script>

<div id="content"></div>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.11.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.11.0/umd/react-dom.development.js"></script>
<script src="~/js/app.jsx"></script>
